﻿body {

     font-family:Arial;
        
}
td {
padding:3px;
    border:1px solid black;

}
label{
    font-weight:bold;
}
table {
    min-width:550px;
    border:1px solid black;
        border-collapse:collapse;

}
