﻿body {
    font-family: Arial,sans-serif;
}

.message {
    margin-top: 5px;
    display: block;
    padding: 5px;
    margin-bottom: 2px;
}

.rightlink {
    float: right;
}

.Errormessage {
    color: white !important;
}

.summarymessage {
    color: #A94442 !important;
}

/* CSS sorting  */
.desc a:after {
    content: ' ▼';
}

.asc a:after {
    content: ' ▲';
}

/*th > a {
    text-decoration: underline !important;
}*/

body > .ui-widget-overlay {
    background-color: gray;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: inherit;
}

.PageLink > li > a {
    padding: 3px 10px;
    margin: 2px 0px;
}

.LinkButton {
    padding: 2px 10px !important;
}

.btnSubmit {
    margin-top: 4px;
}

.CalButton {
    cursor: pointer;
    border: 1px solid gray;
    padding: 0px 10px;
    border-radius: 3px;
    background-color: ghostwhite;
}

.GridPager td > a {
    color: blue;
    margin: 0px 2px;
}

.GridPager td > span {
    color: gray;
    margin: 0px 2px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.category {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 2px 0px;
    border: 1px solid #bbbbbb;
}

.MasterImage {
    width: 100%;
    height: 100%;
    max-height: 300px; /*250px for user control*/
    margin-top: 5px;
    margin-bottom: -13px;
}

#page-content-wrapper {
    padding-top: 0px;
}

.Capital {
    text-transform: uppercase;
}

.modal-open {
    /*overflow: scroll !important;*/
}

/*calendar style start*/

.ui-widget {
    font-family: Arial,sans-serif;
}

#calendar {
    max-width: 900px;
    margin: 0px auto;
}

#TextGotoDate {
    border: 1px solid #2694E8;
    font-weight: bold;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    position: relative;
    top: -2px;
    /*   
    right: 3px;*/
}

#SettigLink, #HL_managepatients {
    padding: 2px 10px !important;
    position: relative;
    top: -4px;
}


.fc-left > h2 {
    font-size: 1.5em;
    margin-top: 6px !important;
}

/* css for timepicker */
.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        height: 25px;
    }

    .ui-timepicker-div dl dd {
        margin: -25px 0 10px 65px;
    }

.tablewidth {
    width: 100%;
}

/*.tablewidth td, th {
        padding: 2px 0px;
    }*/

/* table fields alignment*/
.alignRight {
    text-align: right;
}

.labelspace {
    margin-top: 10px;
}

.alignLeft {
    text-align: left;
    /*padding-bottom: 2px;*/
}

/*.dialogcontrol {
    width: 225px;
}*/

.ui-widget-overlay {
    background-color: gray !important;
    background-image: none !important;
}

.fc button {
    padding: 0px 1.7em !important;
}

/*For mobiles*/
@media screen and (max-width: 360px) {
    .fc-center, .fc-right, .fc-left {
        float: left !important;
    }

    .fc-right {
        margin: 6px 0px;
    }
}

/* For small screen mobile */
@media screen and (max-width: 320px) { 
    #chk_VLSc, #chk_VPSc {
        margin-right: 5px;
    }

      #chk_simple {
        margin-right: -1px;
    }
}

/*Tablet*/
@media screen and (max-width: 800px) {
    .fc-left > h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) {
    #Chart1 {
        width: 500px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 760px) {
    #Chart1 {
        width: 250px !important;
        height: 250px !important;
    }
}
/*Desktop*/
@media screen and (min-width: 1280px) {
    #calendar {
        margin-top: -29px;
    }

    #lblMessage {
        width: 900px;
        margin: -30px auto 35px;
    }

    #SettigLink {
        top: 25px;
        margin-left: -90px;
    }

    #HL_managepatients {
        top: 54px;
        margin-left: -82px;
        position: relative;
    }

    #txt_Contactlenses_OD, #txt_Contactlenses_OS, #txt_Tint_OD,#txt_Tint_OS,#txt_Ophtalmiclens_OD,#txt_Ophtalmiclens_OS {
        width:825px;
    }     
}


/*calendar style end*/

@font-face {
    font-family: BarcodeFont;
    src: url(../fonts/IDAutomationHC39M_FREE.otf);
}

printablediv > img {
    font-family: BarcodeFont !important;
}

.fc th {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: small;
}

.multiselect {
    font-size: 0.83em;
}

/*.fc-event {
    background-color: #666 !important;
    border: 2px solid white !important;
    box-shadow: 2px 2px 2px 2px gray !important;
}*/
/*.fc-title {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}*/
.fc-slats tr {
    height: 50px;
}

.fc-agendaDay-view .fc-title {
    font-size: 1.2em;
}

/*datepicker header*/
.ui-datepicker-header > a {
    background-color: white;
}

.historyLink:hover {
    color: darkgreen;
    background-color: white;
}
