﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MasterImage.ascx.cs" Inherits="UserControl_MasterImage" %>
<asp:Image ID="Image_Master" runat="server" CssClass="MasterImage img-responsive img-rounded" />
